# standard annoying things
.DS_Store
*.pyc
*.swp
*~
*.user
RaptJS.komodoproject

# build files
*.o
Makefile
game/www/rapt.js
editor/www/editor.js
rails/public/javascripts/editor.js
rails/public/javascripts/rapt.js
rails/public/stylesheets/editor.css
rails/public/stylesheets/game.css
level_converter/level_converter

# rails stuff
rails/tmp/
rails/log/
*.sqlite3
