body {
    text-align: center;
    background: #EEEEEE;
    margin: 0;
    font: 13px/20px "Lucida Grande", Arial, sans-serif;
    color: black;
}

h2 {
    font: 18px/24px "Lucida Grande", Arial, sans-serif;
}

#levels {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
	background: #C7C7C7;
    border: groove 3px #A7A7A7;
	border-radius: 4px;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
}

.level {
    font: 14px/24px "Lucida Grande", Arial, sans-serif;
}

.level a {
    color: black;
    text-decoration: none;
}

.level a:hover {
    color: white;
}
