div#levelScreen {
   width: 800px;
   height: 600px;
   overflow: auto;
	background: #DFDFDF;
}

#levelScreen h2 {
	color: black;
}

#levels {
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	background: #C7C7C7 !important;
	border: groove 3px #A7A7A7;
	border-radius: 4px;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
}

.level {
	font: 14px/24px "Lucida Grande", Arial, sans-serif;
	color: black;
	display: block;
	text-decoration: none;
}

.level:focus {
	background: white !important;
	outline: none;
}

#loadingScreen {
	width: 800px;
	height: 300px;
	padding-top: 300px;
	background: #DFDFDF !important;
	color: black;
	text-align: center;
}
