<%= content_for :title, "Robots Are People Too, a platformer in HTML5" %>

<%= content_for :header do %>
    <div id="header"><div></div></div>
<% end %>

<%= content_for :before_flash do %>
    <h1>Robots Are People Too</h1>
<% end %>

<p>
    RAPT is a complex and challenging HTML5 platformer.&nbsp;
    The exit to each level is blocked by enemies that roll, jump, fly, and shoot to prevent escape at all costs.&nbsp;
    Gameplay is exclusively two-player and uses a unique split-screen mechanic.&nbsp;
    The levels and enemies are designed to promote cooperation between players.&nbsp;
</p><p>
    RAPT also comes with a powerful level editor which allows players to create levels of any size.&nbsp;
    Levels are saved to the player's account on the server, which has a public page listing custom levels.&nbsp;
    Link to this page for a simple way of sharing levels with friends!&nbsp;
</p>
<div id="buttons">
    <a href="/play/" class="button"><span></span> <b>Play&nbsp;in&nbsp;browser</b> <br> Works best in Google Chrome</a>
    <a href="/edit/" class="button"><span></span> <b>Open&nbsp;level&nbsp;editor</b> <br> Create your own levels</a>
</div>
<p>
    Note: RAPT is a physics intensive game and your browser might not be up to the task.&nbsp;
    For the best experience please use the latest version of your browser.&nbsp;
</p>
<p>
    The game and the editor are written entirely in JavaScript using just the HTML5 canvas API and some jQuery, and the server is written in Rails.&nbsp;
    Our code base contains a little over 20,000 lines of JavaScript and it's all <a href="https://github.com/evanw/rapt">open source on Github</a>.&nbsp;
</p>
