<%= content_for :title, "Robots Are People Too, a platformer in HTML5" %>

<%= content_for :header do %>
    <div id="header"><div></div></div>
<% end %>

<%= content_for :before_flash do %>
    <h1>Robots Are People Too</h1>
<% end %>

<p>
    RAPT is a complex and challenging HTML5 platformer.&nbsp;
    The exit to each level is blocked by with enemies that roll, jump, fly, and shoot to prevent escape at all costs.&nbsp;
    Gameplay uses a unique split-screen mechanic and is exclusively two-player, so grab a friend and click play!&nbsp;
</p>
<div id="buttons">
    <a href="/play/" class="button"><span></span> <b>Play&nbsp;in&nbsp;browser</b> <br> Works best in Google Chrome</a>
    <% if current_user.nil? %>
        <a class="disabled button"><span></span> <b>Open&nbsp;level&nbsp;editor</b> <br> Please sign in first</a>
    <% else %>
        <a href="/edit/<%= current_user.username %>/" class="button"><span></span> <b>Open&nbsp;level&nbsp;editor</b> <br> Create your own levels</a>
    <% end %>
</div>
<p>
    Note: RAPT is a physics intensive game and most browsers aren't yet up to the task.&nbsp;
    For the best experience please use the latest version of your browser.&nbsp;
</p>
<h2>More Information</h2>
<p>
    The game and the editor are written entirely in JavaScript using just the HTML5 canvas API and some jQuery, and the server is written in Rails.&nbsp;
    Our code base contains a little over 20,000 lines of JavaScript and it's all <a href="https://github.com/evanw/rapt">open source on Github</a>.&nbsp;
</p>
