<%= content_for :title, "Play" %>

<div id="game">
  <canvas id="canvas">Your browser does not support the HTML5 canvas element.</canvas>
  <div id="levelScreen"></div>
  <div id="loadingScreen"></div>
</div>

<%= include_stylesheets :game %>
<%= include_javascripts :game %>

<div id="keys">
  <div id="wasd">
    <div class="key" style="left:65px;top:0;">W</div>
    <div class="key" style="left:0;top:65px;">A</div>
    <div class="key" style="left:65px;top:65px;">S</div>
    <div class="key" style="left:130px;top:65px;">D</div>
    Move the blue player
  </div>

  <div id="arrows">
    <div class="key" style="left:65px;top:0;">&uarr;</div>
    <div class="key" style="left:0;top:65px;">&larr;</div>
    <div class="key" style="left:65px;top:65px;">&darr;</div>
    <div class="key" style="left:130px;top:65px;">&rarr;</div>
    Move the red player
  </div>

  <div id="other">
    <div class="key" style="left:0;top:0;">K</div>
    <div class="key" style="left:0;top:65px;"><small>Esc</small></div>
    Kill both players (start over)<br>
    Go to the level menu
  </div>
</div>

<p>
  Get both players on the goal at the same time to win (the goal is marked by four black triangles).&nbsp;
  For a harder challenge, try collecting all the golden cogs in all the levels.&nbsp;
</p>
