<%= content_for :title do "RAPT" end %>

<canvas id="canvas">Your browser does not support the HTML5 canvas element.</canvas>
<div id="levelScreen"></div>
<div id="loadingScreen"></div>

<%= include_stylesheets :game %>
<%= include_javascripts :game %>

<a href="/">Back to Home</a>
