<% title 'Editing Level', false %>

<div id="toolbar">
	<div class="section">
		<a id="MODE_TILES_EMPTY" class="first toolbar-current">Empty</a>
		<a id="MODE_TILES_SOLID">Solid</a>
		<a id="MODE_TILES_DIAGONAL" class="last">Diagonal</a>
		<div class="label">Tiles</div>
	</div>
	<div class="section">
		<a id="MODE_ELEMENTS_START" class="first">Start</a>
		<a id="MODE_ELEMENTS_GOAL">Goal</a>
		<a id="MODE_ELEMENTS_COG">Cog</a>
		<a id="MODE_ELEMENTS_SIGN" class="last">Sign</a>
		<div class="label">Game Elements</div>
	</div>
	<div class="section">
		<a id="MODE_OTHER_SELECT" class="first">Select</a>
		<a id="MODE_OTHER_ENEMIES">Enemies</a>
		<a id="MODE_OTHER_WALLS_BUTTONS">Walls / Buttons</a>
		<a id="MODE_OTHER_HELP" class="last">Help</a>
		<div class="label">Other</div>
	</div>
</div>
<div id="loading">Loading...</div>
<canvas id="canvas"></canvas>
<div id="help" class="sidebar"></div>
<div id="enemies" class="sidebar"></div>
<div id="walls" class="sidebar"></div>

<%= include_stylesheets :editor %>
<%= include_javascripts :editor %>